*{
    padding: 5px;
    text-align: center;
    
}
 
thead{
    border: 1px solid black;
    border-collapse: collapse;
    
}

table, caption, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

caption{
    border-bottom: none;
    font-weight: bold;
    background-color: #D3D3D3;
}



tfoot{
    font-style: italic;
}

tbody th{
    background-color: #D3D3D3;
    font-weight: normal;
}

tbody tr:nth-child(even){background-color: #6AE48C;}
tbody tr:nth-child(odd){background-color:#A1D9E6 ;}

table{
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    
}

body{
    background-image: url(cat.jpg) ;
    

}