*{
    padding: 5px;
    text-align: center;
}

thead{
    border: 1px solid black;
    border-collapse: collapse;
    
}




table, caption, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

caption{
    border-bottom: none;
    font-weight: bold;
    background-color: #D3D3D3;
}

tbody{
    font-style: normal;
}

tfoot{
    font-style: italic;
}


tbody tr:nth-child(even){background-color: #A1D9E6;}
tbody tr:nth-child(odd){background-color: #6AE48C;}
tbody tr:nth-child(1){background-color: white;}